In [4]:
import pandas as pd

In [5]:
# Data awal (diinisialisasi di luar fungsi bisnis)
accounts = {}  # Key: NIM, Value: {"password": pass, "role": role}
personnel_data = []  # List of Dictionaries: {"nim": str, "name": str, "rank": str, "unit_id": int}
unit_data = []  # {"unit_id": int, "unit_name": str}
mission_data = []  # (mission_id, mission_name, location, [involved_personnel])

accounts = {
    "12345": {"password": "password123", "role": "user"},
    "67890": {"password": "password456", "role": "admin"}
}

personnel_data = [
    {"nim": "12345", "name": "John Doe", "rank": "Captain", "unit_id": 1},
    {"nim": "67890", "name": "Jane Smith", "rank": "Lieutenant", "unit_id": 2}
]

unit_data = [
    {"unit_id": 1, "unit_name": "Alpha Unit"},
    {"unit_id": 2, "unit_name": "Beta Unit"}
]

In [7]:
# Series from accounts dictionary
accounts_series = pd.Series(accounts)
print("Accounts Series:")
print(accounts_series)
print("\n")

Accounts Series:
12345     {'password': 'password123', 'role': 'user'}
67890    {'password': 'password456', 'role': 'admin'}
dtype: object

In [8]:
# Series from personnel data
personnel_df = pd.DataFrame(personnel_data)
personnel_series = personnel_df.set_index('nim').apply(pd.Series)
print("Personnel Series:")
print(personnel_series)
print("\n")

Personnel Series:
             name        rank  unit_id
nim
12345    John Doe     Captain        1
67890  Jane Smith  Lieutenant        2

In [9]:
# Series from unit data
unit_df = pd.DataFrame(unit_data)
unit_series = unit_df.set_index('unit_id')['unit_name']
print("Unit Series:")
print(unit_series)
print("\n")

Unit Series:
unit_id
1    Alpha Unit
2     Beta Unit
Name: unit_name, dtype: object