In [13]:
# Membuat Series dari Dictionary dan Membuat Series dari Dictionary

In [3]:
import pandas as pd

In [4]:
# Data awal (diinisialisasi di luar fungsi bisnis)
accounts = {}  # Key: NIM, Value: {"password": pass, "role": role}
personnel_data = []  # List of Dictionaries: {"nim": str, "name": str, "rank": str, "unit_id": int}
unit_data = []  # {"unit_id": int, "unit_name": str}
mission_data = []  # (mission_id, mission_name, location, [involved_personnel])

accounts = {
    "12345": {"password": "password123", "role": "user"},
    "67890": {"password": "password456", "role": "admin"}
}

personnel_data = [
    {"nim": "12345", "name": "John Doe", "rank": "Captain", "unit_id": 1},
    {"nim": "67890", "name": "Jane Smith", "rank": "Lieutenant", "unit_id": 2}
]

unit_data = [
    {"unit_id": 1, "unit_name": "Alpha Unit"},
    {"unit_id": 2, "unit_name": "Beta Unit"}
]

In [14]:
# Series from accounts dictionary
accounts_series = pd.Series(accounts)
print("Accounts Series:")
print(accounts_series)
print("\n")

Accounts Series:
12345     {'password': 'password123', 'role': 'user'}
67890    {'password': 'password456', 'role': 'admin'}
dtype: object

In [6]:
# Series from personnel data
personnel_df = pd.DataFrame(personnel_data)
personnel_series = personnel_df.set_index('nim').apply(pd.Series)
print("Personnel Series:")
print(personnel_series)
print("\n")

Personnel Series:
             name        rank  unit_id
nim
12345    John Doe     Captain        1
67890  Jane Smith  Lieutenant        2

In [7]:
# Series from unit data
unit_df = pd.DataFrame(unit_data)
unit_series = unit_df.set_index('unit_id')['unit_name']
print("Unit Series:")
print(unit_series)
print("\n")

Unit Series:
unit_id
1    Alpha Unit
2     Beta Unit
Name: unit_name, dtype: object

## **Bagian 2**

In [8]:
import pandas as pd

# Membaca file CSV ke DataFrame
accounts_df = pd.read_csv("accounts.csv")
personnel_data_df = pd.read_csv("personnel_data.csv")
unit_data_df = pd.read_csv("unit_data.csv")
mission_data_df = pd.read_csv("mission_data.csv")

In [9]:
# Menampilkan beberapa data awal dari setiap DataFrame
print("\nAccounts DataFrame:")
print(accounts_df.head())

print("\nPersonnel Data DataFrame:")
print(personnel_data_df.head())

print("\nUnit Data DataFrame:")
print(unit_data_df.head())

print("\nMission Data DataFrame:")
print(mission_data_df.head())

Accounts DataFrame:
    nim  password   role
0  1000  fXHIxmbW  admin
1  1001  bBa8WgeF   user
2  1002  LZsHJVTX  admin
3  1003  m93H18E4   user
4  1004  AbG82ES6  admin

Personnel Data DataFrame:
    nim    name        rank  unit_id
0  1000  Name_0       Major        6
1  1001  Name_1       Major        5
2  1002  Name_2       Major        9
3  1003  Name_3       Major        7
4  1004  Name_4  Lieutenant        1

Unit Data DataFrame:
   unit_id unit_name
0        1    Unit_1
1        2    Unit_2
2        3    Unit_3
3        4    Unit_4
4        5    Unit_5

Mission Data DataFrame:
   mission_id mission_name    location  \
0           1    Mission_1  Location_1
1           2    Mission_2  Location_2
2           3    Mission_3  Location_3
3           4    Mission_4  Location_4
4           5    Mission_5  Location_5

                             involved_personnel
0                                     1975,1496
1  1700,1891,1224,1105,1363,1133,1659,1764,1120
2  1131,1232,1796,1324,1862,1222,1513,1556,1364
3       1779,1856,1809,1150,1870,1165,1338,1694
4       1861,1261,1311,1021,1774,1526,1980,1254

In [10]:
# Operasi Dasar

# 1. Menampilkan informasi kolom dan tipe data
print("\nInfo Accounts DataFrame:")
print(accounts_df.info())

# 2. Melihat statistik dasar dari personnel_data
print("\nStatistik Personnel DataFrame:")
print(personnel_data_df.describe())

# 3. Bergabung (merge) personnel_data dengan unit_data berdasarkan 'unit_id'
personnel_with_units = pd.merge(personnel_data_df, unit_data_df, on="unit_id")
print("\nPersonnel Data with Unit Info:")
print(personnel_with_units.head())

# 4. Membuat filter: Menampilkan personel dengan pangkat 'Captain'
filtered_personnel = personnel_data_df[personnel_data_df['rank'] == 'Captain']
print("\nPersonnel with Rank 'Captain':")
print(filtered_personnel)

# 5. Menambahkan kolom baru pada mission_data: Jumlah personel yang terlibat
mission_data_df['num_involved'] = mission_data_df['involved_personnel'].apply(lambda x: len(x.split(",")))
print("\nMission Data with Number of Involved Personnel:")
print(mission_data_df.head())

# 6. Mengelompokkan personel berdasarkan unit dan menghitung jumlahnya
grouped_personnel = personnel_data_df.groupby('unit_id').size().reset_index(name='personnel_count')
print("\nNumber of Personnel per Unit:")
print(grouped_personnel)

Info Accounts DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nim       1000 non-null   int64
 1   password  1000 non-null   object
 2   role      1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB
None

Statistik Personnel DataFrame:
               nim      unit_id
count  1000.000000  1000.000000
mean   1499.500000     5.498000
std     288.819436     2.916934
min    1000.000000     1.000000
25%    1249.750000     3.000000
50%    1499.500000     5.000000
75%    1749.250000     8.000000
max    1999.000000    10.000000

Personnel Data with Unit Info:
    nim     name        rank  unit_id unit_name
0  1000   Name_0       Major        6    Unit_6
1  1012  Name_12  Lieutenant        6    Unit_6
2  1027  Name_27    Sergeant        6    Unit_6
3  1038  Name_38  Lieutenant        6    Unit_6
4  1039  Name_39     Captain        6    Unit_6

Personnel with Rank 'Captain':
      nim      name     rank  unit_id
7    1007    Name_7  Captain        9
9    1009    Name_9  Captain        3
10   1010   Name_10  Captain        3
13   1013   Name_13  Captain        7
17   1017   Name_17  Captain        1
..    ...       ...      ...      ...
971  1971  Name_971  Captain        7
973  1973  Name_973  Captain        5
982  1982  Name_982  Captain        1
987  1987  Name_987  Captain       10
992  1992  Name_992  Captain        9

[259 rows x 4 columns]

Mission Data with Number of Involved Personnel:
   mission_id mission_name    location  \
0           1    Mission_1  Location_1
1           2    Mission_2  Location_2
2           3    Mission_3  Location_3
3           4    Mission_4  Location_4
4           5    Mission_5  Location_5

                             involved_personnel  num_involved
0                                     1975,1496             2
1  1700,1891,1224,1105,1363,1133,1659,1764,1120             9
2  1131,1232,1796,1324,1862,1222,1513,1556,1364             9
3       1779,1856,1809,1150,1870,1165,1338,1694             8
4       1861,1261,1311,1021,1774,1526,1980,1254             8

Number of Personnel per Unit:
   unit_id  personnel_count
0        1              102
1        2              101
2        3              106
3        4               97
4        5              104
5        6               84
6        7              107
7        8               87
8        9              101
9       10              111