# READ BEFORE CONTINUE

- Untuk mendapatkan akses edit kalian bisa membuat copy di perangkat kalian masing-masing dengan menggunakan akun gmail masing-masing (Buka File -> Save copy in Drive

# **Modul 1 Fungsional 2024**

---
 Functional Programming using Python

Disusun oleh:
1. Rafli Kharisma Akbar
2. Alviya Laela Lestari

Diaudit oleh:
Fera Putri Ayu L., S.Kom., M.T.

Presented by: TIM LAB-IT Universitas Muhammadiyah Malang

## Tujuan Praktikum


Sub-CPMK 7: Mahasiswa mampu mendesain program dengan teknik yang tepat untuk menyelesaikan masalah dengan menggunakan paradigma pemrograman fungsional (P6)

## Target Modul

1. Menguasai konsep Function dalam Paradigma Fungsional
2. Menguasai konsep Tipe Data Sequence pada Python
3. Mampu mengelola fitur-fitur yang ada dalam paradigma pemrograman fungsional menggunakan Python

## Persiapan Software/Apilkasi

- Laptop/Komputer
- Windows/Linux/Mac OS
- Pycharm/Google Collab /Jupyter Notebook
- Source Code Google Collab Modul 1

# Welcome To Google Collab


---

<p align="justify"> Welcome to this functional programming module! Kita akan memulai perjalanan belajar ini bersama menggunakan Google Collab, lingkungan interaktif dan kolaboratif yang memungkinkan kita untuk menulis dan menjalankan kode Python langsung di browser. Collab adalah layanan notebook Jupyter yang dihosting yang tidak memerlukan penyiapan untuk digunakan, sekaligus memberikan akses gratis ke sumber daya komputasi termasuk GPU. Oleh karena itu Collab sangat direkomendasikan untuk kalian yang memiliki komputer / laptop dengan spesifikasi yang rendah. Untuk mengaksesnya pun cukup mudah seperti menggunakan produk Google pada umumnya, kalian hanya perlu login dan membuat notebook baru.

Untuk materi modul (teori lengkap khususnya topik 1&2) bisa kalian baca dan pelajari pada dokumen modul 1(pdf). Adapun untuk pembelajaran menggunakan Google Collab disini kita akan langsung menuju ke practical topic tentang python yang dilengkapi dengan code yang bisa langsung kalian jalankan disini. Selamat belajar dan mencoba lingkungan interaktif dan kolaboratif disini kali ini.

# 3. Lets Talk About Python

<p align="justify">
Python sendiri merupakan bahasa pemrograman yang termasuk ke dalam kategori high level programming language. Pada dasarnya Python didesain dengan fokus pada keterbacaan kode dan sintaks yang mudah dipahami, sehingga memudahkan pengembang dalam menulis dan memelihara program. Pembahasan dan Pengenalan tentang python akan dijelaskan poin-poin sebagai berikut :

## 3.1 Tipe Data dan Variabel Dalam Python

<p align="justify">Sebelum kita mulai praktik, kita samakan dulu frekuensi pemahaman kita.

### 3.1.1 Apa itu Variabel Dalam Python

<p align="justify">
Anggap saja variabel adalah sebuah keranjang, tempat di mana kita bisa memasukkan sesuatu di dalamnya, yaitu data. Di python, kita bisa memasukkan tipe data apa saja ke dalam keranjang (variabel) tanpa harus mendefinisikan tipe datanya terlebih dahulu (hal ini berbeda dengan beberapa bahasa pemrograman lain yang mengharuskan kita mendefinisikan tipe data terlebih dahulu). Sebuah variabel dapat berganti tipe data sedinamis mungkin. Perhatikan dan jalankan baris kode di bawah agar kalian lebih memahami penggunaan variabel pada python!

In [ ]:
var = 212
print(var)
print(type(var))

# redefine variable
var = "Variable baru coy"
print(var)
print(type(var))

212
<class 'int'>
Variable baru coy
<class 'str'>

### 3.1.2 Bagaimana dengan Tipe Data dalam Python?

<p align="justify">
Tipe data –sesuai namanya– adalah jenis dari suatu data. Setiap data memiliki nilai, dan setiap nilai memiliki jenis. Memahami tipe data di Python adalah aspek dasar dalam pemrograman, karena dapat membantu kita mengenali jenis data yang digunakan, ukurannya, serta fungsi-fungsi yang terkait.
Pengetahuan tentang tipe data ini dapat membuat proses pengkodean lebih efisien, karena tipe data yang spesifik menentukan nilai yang dapat kita tetapkan dan operasi yang bisa kita lakukan. Python sendiri mempunyai tipe data yang cukup unik bila kita bandingkan dengan bahasa pemrograman yang lain. Diantaranya adalah sebagai berikut :



![tipe data.png]()

Mari kita bahas lebih lanjut untuk setiap tipe data yang ada di python, check this out!

#### A. Text Type

##### **a. String**

<p align="justify">Python tidak memiliki tipe char spesifik seperti di beberapa bahasa pemrograman lain seperti C atau Java. Di Python, satu karakter adalah string dengan length satu.

In [ ]:
contoh_str = 'A'
print(contoh_str)
print(type(contoh_str))

A
<class 'str'>

<p align="justify">
Jika kita melihat code diatas ketika kita mencoba untuk membungkus menggunakan type maka output yang dihasilkan adalah ‘str’ atau string. Mengapa output menunjukkan <class> di awal ketika ingin mengetahui tipe data? Karena dalam python semua data dianggap sebagai objek, termasuk contoh diatas yang menyatakan bahwa A merupakan objek dari kelas ‘str’.

##### **b. Concat String**

Di bawah ini merupakan contoh concat atau penggabungan 2 string dalam variabel yang berbeda ke dalam 1 variabel.

In [ ]:
kata = "I love you"
kata2 = ", and you love me back ❤️"

concat = kata + kata2
# contoh concat
print(concat)

I love you, and you love me back ❤️

#### B. Numeric Type

Berikut merupakan beberapa contoh dari tipe data numeric yang ada di python.

##### **a. Int**

In [ ]:
contoh_int = 10
print(type(contoh_int))

<class 'int'>

<p align="justify">Seperti pada bahasa pemrograman pada umumnya tipe data int merepresentasikan bilangan bulat (integer). Beberapa bahasa pemrograman seperti C/C++ atau java memiliki tipe data dengan ukuran yang berbeda seperti short untuk bilangan bulat dengan ukuran lebih kecil dari int, dan long untuk bilangan bulat dengan ukuran lebih besar dari int. Namun, pada Python, ukuran tipe data int akan disesuaikan secara dinamis berdasarkan nilai bilangan yang kita berikan. Kita bisa menggunakan perintah sebagai berikut untuk mengeceknya:

In [ ]:
import sys
print(sys.getsizeof(1))
print(sys.getsizeof(12345234525232523))

28
32

Semakin besar value dari sebuah int maka jumlah byte juga semakin besar, sesuai dengan kebutuhan memori dari value tersebut. For your information, berikut sedikit keterangan tentang size/ukuran suatu penyimpanan data di python 3.

##### **b. Float**

<p align="justify"> Di Python, tidak ada tipe data double yang terpisah seperti di beberapa bahasa pemrograman lain (misalnya, C atau Java). Sebaliknya, Python menggunakan tipe data float untuk merepresentasikan bilangan desimal.

In [ ]:
i = 42
s = "3.14159"
print(float(i))
print(float(s))

42.0
3.14159

##### **c. Complex**

<p align="justify"> Python memiliki tipe data complex untuk merepresentasikan bilangan kompleks. Bilangan kompleks terdiri dari bagian real dan bagian imajiner, yang masing-masing adalah bilangan float. Di Python, Anda bisa membuat bilangan kompleks menggunakan notasi a + bj, di mana a adalah bagian real dan b adalah bagian imajiner

In [ ]:
z1 = 2 + 3j
z2 = 1 - 1j
print(z1 + z2)
print(z1 - z2)
print(z1 * z2)
print(z1 / z2)

(3+2j)
(1+4j)
(5+1j)
(-0.5+2.5j)


#### C. Sequence Type

<p align="justify"> Sequence adalah kumpulan nilai yang diakses melalui indeks dan memiliki beberapa tipe data utama, seperti array. Namun, di Python, tipe data sequence sedikit berbeda dari array pada umumnya. Data sequence lebih dinamis dibandingkan array, kita bisa menambahkan elemen sebanyak yang kita inginkan tanpa batasan ukuran seperti pada array. Selain itu, sequence juga dapat menyimpan elemen dengan tipe data yang berbeda. Mari kita pelajari beberapa jenis sequence berikut ini:

##### **a. List**


<p align="justify"> List dalam Python adalah salah satu tipe data sequence yang paling fleksibel dan sering digunakan. Ini adalah kumpulan elemen yang berurutan (ter-index) dan dapat diubah (mutable). Berikut adalah beberapa poin penting tentang list dalam Python:

1) *Mutable* (Dapat diubah)

Kita tetap bisa melakukan perubahan pada data dalam list karena sifat dari list yang dapat diubah/mutable

In [ ]:
cth_list = [1 ,2 ,3]
cth_list[0] = 10
cth_list.append(4)

print(cth_list)

[10, 2, 3, 4]

2) *Ordered* (Berurutan)

Maksud dari berurutan disini adalah bahwa untuk mengakses data dalam list akan dimulai berurutan sesuai dengan urutan indexnya.

In [ ]:
cth_list = [1, 2, 3]
print(cth_list[0])
print(cth_list[1])

1
2

3) *Heterogeneous* (Banyak Tipe Data)

List tidak kaku yang berarti List mampu menyimpan value dengan bermacam-macam tipe data seperti contoh di bawah ini :

In [ ]:
cth_list = [1, "hello", 3.14, True]

print(cth_list)

[1, 'hello', 3.14, True]

4) *Allow Duplicates*

List memperbolehkan data yang memiliki value sama karena List dipengaruhi oleh index.

In [ ]:
cth_list = ["apple", "banana", "cherry", "apple", "cherry"]
print(cth_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

<p align="justify"> Masih ada beberapa ciri yang dimiliki oleh List seperti <a href="https://www.freecodecamp.org/news/slicing-and-indexing-in-python/">indexing</a> indexin <a href="https://www.freecodecamp.org/news/slicing-and-indexing-in-python/"> slicing</a>, Dynamic size dsb. List juga memiliki method bawaan dari python yang memudahkan kita dalam mengoperasikan data List, silahkan mengunjungi tautan <a href="https://belajarpython.com/tutorial/list-python/"> berikut </a> untuk lebih detailnya.

##### **b. Tuple**

<p align="justify"> Tuple adalah urutan objek dalam Python yang bersifat tidak dapat diubah (immutable). Tuple serupa dengan list, namun perbedaan utamanya adalah elemen dalam tuple tidak dapat diubah setelah didefinisikan. Tuple menggunakan tanda kurung ‘()’, sedangkan list menggunakan tanda kurung siku ‘[]’. Membuat tuple sangat mudah; kita hanya perlu menuliskan nilai-nilai yang dipisahkan oleh koma. Di bawah ini pengelompokkan ciri dari sebuah tuple :

!) *Immutable* (Tidak dapat diubah)

Ketika tuple sudah berhasil dibuat, kita tidak bisa mengubah, menambah atau menghapus elemen-elemen di dalamnya.

In [ ]:
cth_tuple = (1, 2, 3)
cth_tuple[0] = 10 # Ini akan error

TypeError: 'tuple' object does not support item assignment

2) *Heterogeneous* (Banyak Tipe Data)

Tuple mengizinkan untuk memiliki data yang berbeda tipe seperti List.

In [ ]:
cth_tuple = ("abc", 34, True, 40, "Male")
print(cth_tuple)

('abc', 34, True, 40, 'Male')

3) *Ordered* (Berurutan)

Tuple bersifat ordered seperti List yaitu untuk mengaksesnya kita bisa menggunakan index masing-masing data.

In [ ]:
cth_tuple = (10, 20, 30, 40, 50)
print(cth_tuple[0])
print(cth_tuple[1])
print(cth_tuple[-1])
print(cth_tuple[-2])

10
20
50
40

Untuk mengetahui lebih dalam mengenai tuple, silahkan membuka tautan [berikut](https://www.petanikode.com/python-tuple/).

##### **c. Range**

<p align="justify">Range dalam Python adalah tipe data yang digunakan untuk menghasilkan urutan angka. range biasanya digunakan dalam perulangan (loop) untuk mengulang sejumlah langkah tertentu. range menghasilkan urutan angka yang teratur sesuai dengan parameter yang diberikan, namun tidak menyimpan semua angka dalam memori, melainkan menghasilkan angka satu per satu saat dibutuhkan. Ciri - ciri range dapat kita simak dicontoh berikut.

1)  Immutable
<p align="justify">
Sama seperti tuple, setelah didefinisikan, objek range tidak dapat diubah. Kita tidak bisa menambah, menghapus, atau mengubah elemen-elemen dalam range.

2) Indexing dan Slicing

Kita bisa mengakses elemen-elemen tertentu dalam range menggunakan indeks dan slicing, mirip dengan list. Coba perhatikan dan jalankan kode berikut:

In [ ]:
r = range(10)
print(r[2])
print(r[2:5])

3) Iteration

Objek range dapat diiterasi menggunakan loop for, yang sangat berguna untuk mengulangi blok kode dengan jumlah langkah yang ditentukan.

In [ ]:
for i in range(5):
  print(i)

#### D. Mapping Type

##### **a. Dictionary**
Dalam Python, kamus atau dictionary adalah tipe data yang digunakan untuk menyimpan nilai-nilai dalam format pasangan kunci-nilai (key-value). Dictionary sangat berguna ketika Anda ingin mengasosiasikan kunci unik dengan nilai tertentu. Berikut merupakan ciri dari dictionary :

- Kunci tidak boleh duplikat
- Changeable (dapat diubah)
- Pengaksesan menggunakan Key

Berikut adalah contoh deklarasi tipe data dict:

In [ ]:
thisdict = {
    "Name" : "Widodo",
    "NIM" : "202110370311402",
    "Semester" : 7
}

print(thisdict)

{'Name': 'Widodo', 'NIM': '202110370311402', 'Semester': 7}

dan beberapa operasi yang bisa dilakukan dengan tipe data dictionary:

In [ ]:
thisdict = {
  "Name": "Widodo",
  "NIM" : "202110370311402",
  "Semester" : 7
}

# contoh changeable and nested dictionary
thisdict = {
  "Name": "Widodo",
  "NIM" : "202110370311402",
  "Semester" : 7,
  "Teman" : {
      "Nama" : "Sutadi",
      "Umur" : 55
  },
  "Identitas Ortu": {
      "Nama": "Rian Firjatullah",
      "Umur": 60
  }
}

# casting objek ke dalam variable
var = thisdict["Identitas Ortu"]["Nama"]

print("Temanku adalah", thisdict["Teman"]["Nama"])
print("Nama orang tua adalah", var)
print(thisdict)

Temanku adalah Sutadi
Nama orang tua adalah Rian Firjatullah
{'Name': 'Widodo', 'NIM': '202110370311402', 'Semester': 7, 'Teman': {'Nama': 'Sutadi', 'Umur': 55}, 'Identitas Ortu': {'Nama': 'Rian Firjatullah', 'Umur': 60}}

In [ ]:
account = {"NIM": "202110370311402",
           "PIC": "88337755"}

def login(source, nim, pic):
    if nim == source["NIM"] and pic == source["PIC"]:
        return "Selamat datang admin"
    else:
        return "benda tak dikenal"

nim = input("Nim : ")
pic = input("PIC : ")

login(account, nim, pic)

Nim : AKFNAKNFA\
PIC : AFNKAFNA

'benda tak dikenal'

#### E. Boolean Type

Menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0

In [ ]:
a = 5 > 6
b = 6 > 5
print(type(a))
print(a, b)

### **3.1.3 Casting Tipe Data dalam Python**

Mari kita simak beberapa contoh dari casting di bawah ini :

In [ ]:
x = 1
y = 10.657
z = [10,9,8,7]
print(type(x))
print(type(y), " : " , y)
print(type(z))

# Casting variable x ke dalam str
x = str(x)

# Casting variable y ke dalam int
y = int(y)

# Casting variable z ke dalam tuple
z = tuple(z)

print(type(x))
print(type(y), " : ", y)
print(type(z))

<class 'int'>
<class 'float'>  :  10.657
<class 'list'>
<class 'str'>
<class 'int'>  :  10
<class 'tuple'>

## 3.2 Percabangan Dalam Python

<p align="justify"> Sama seperti bahasa pemrograman lainnya, python juga memiliki percabangan seperti if, else, elseif. Namun, python tidak memiliki percabangan switch case. Penerapan percabangan ini mirip dengan bahasa pemrograman yang telah kalian pelajari. Untuk lebih memahaminya, kalian bisa menjalankan baris program dibawah ini :

In [ ]:
# if condition

amIHappy = "Yes"

if amIHappy == "Yes":
  print("Yeepe i hope you always happy!")

In [ ]:
# if else condition

areYouHappy = "No"

if areYouHappy == "Yes" or areYouHappy == "yes":
  print("Yeepe i hope you always happy!")
else:
  print("Fa inna ma'al usri yusro")

In [ ]:
# if elseif else condition

areYouOkay = "IDK"

if areYouOkay == "Yes":
  print("Yeepe i hope you always happy!")
elif areYouOkay == "IDK":
  print("You have something say to me?")
else:
  print("Fa inna ma'al usri yusro")

## 3.3 Perulangan Dalam Python

Pada python, kita bisa melakukan perulangan dengan beberapa cara diantaranya:

### **3.3.1 Perulangan For**


<p align="justify">
Perulangan for pada python adalah perintah yang digunakan <b> untuk melakukan iterasi</b> dari sebuah nilai <b> sequence </b> atau data koleksi seperti List, Tuple, String, range dan lainnya. For pada python memiliki perilaku yang berbeda dengan for pada kebanyakan bahasa pemrograman yang lain, karena pada python ia sangat berkaitan dengan data sequence atau data kolektif. Mungkin kalau dibandingkan dengan bahasa lain, for pada python lebih dikenal sebagai foreach. Perhatikan contoh berikut:

In [ ]:
# for loop pada sequence type

friendList = ["Sutadi", "Andri", "Boy", "Bagus", "Widodo"]
for x in friendList:
  print(x)

Sutadi
Andri
Boy
Bagus
Widodo

In [ ]:
# for loop pada string

for x in "Zaid":
  print(x)

Z
a
i
d

In [ ]:
# break keyword

for x in friendList:
  print(x)
  if x == "Bagus":
    print("Next? kita cut off dulu yaa")
    break

Sutadi
Andri
Boy
Bagus
Cut off dulu yaa

In [ ]:
# continue keyword

for x in friendList:
  if x == "Boy":
    print("Yang satu ini kita skip yaa")
    continue
  print(x)

Sutadi
Andri
Yang satu ini kita skip yaa
Bagus
Widodo

In [ ]:
# range dalam for loop

for x in range(6):
  print("Astagfirullah")

Astagfirullah
Astagfirullah
Astagfirullah
Astagfirullah
Astagfirullah
Astagfirullah

In [ ]:
# nested for

for x in range(3):
  for y in range(5):
    print(y, end=" ") # mencegah baris baru
  print() # membuat baris baru

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [ ]:
# range 2 argumen
for i in range(2, 6):
    print(i)

2
3
4
5

In [ ]:
# range 3 argumen
for i in range(1, 10, 2):
    print(i)

### 3.3.2 Perulangan While

<p align="justify">Pada python, while loop mirip dengan while loop yang ada pada bahasa pemrograman lainnya. Namun, tidak ada do-while dalam python. Tidak seperti for loop yang memiliki aturan khusus. While loop pada python cukup mudah dipahami. Kalian bisa mencoba langsung while loop pada python dengan menjalankan program dibawah ini.

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

### 3.3.3 Fungsi Rekursif

<p align="justify">
Fungsi rekursif adalah fungsi yang melakukan perulangan dengan mengacu pada dirinya sendiri. Dalam paradigma pemrograman fungsional, rekursi adalah cara penting untuk melakukan iterasi data, menggantikan penggunaan loop konvensional.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)


print(factorial(5))

120

<p align="justify">
Rekursi dalam paradigma fungsional mempromosikan penggunaan fungsi murni dan menghindari perubahan <b>keadaan (state)</b> yang tidak perlu. Fungsi murni adalah fungsi yang hasilnya hanya bergantung pada inputnya dan tidak mengubah variabel di luar fungsi tersebut. Terkait hal ini akan kita bahas lebih detil pada modul selanjutnya.

## 3.4 Function Dalam Python

<p align="justify"> Jika pada paradigma pemrograman sebelumnya (OOP-Java) kalian lebih familiar dengan istilah method, maka pada pemrograman fungsional dengan python kali ini kita akan banyak menggunakan function (ee, jangan salah, di python juga ada method kok, cek cek <a href="https://medium.com/@rismitawahyu/function-and-methods-in-python-fungsi-dan-metode-di-python-757204314517">disini</a> untuk tau perbedaan keduanya). untuk tau perbedaan keduanya)


<p align="justify"> Python sendiri memiliki banyak built-in function, diantaranya yang sering kita gunakan, antara lain print() untuk mencetak objek, len() berfungsi mengembalikan (return) panjang suatu objek, type() berfungsi mengembalikan (return) tipe data dari suatu variabel, dan masih banyak lagi yang lainnya. Sedangkan untuk membuat suatu function, perlu didefinisikan dengan keyword “def”. Untuk lebih memahami mengenai function pada python, kalian dapat menjalankan program dibawah ini:

In [ ]:
def firstExample():
    print("Hello it's me")

firstExample()

# Output : Hello it's me

def secondExample(name, hobbies):
    print("Hi, iam " + name + " and my hobby is " + hobbies)

secondExample("Widodo", "Fishing")

# Output : Hi, iam Widodo and my hobby is Fishing

Hello it's me
Hi, iam Widodo and my hobby is Fishing

<p align="justify"> Fungsi-fungsi diatas adalah deklarasi fungsi standar pada python. Meski kita sudah membangun program kita dalam satuan fungsi-fungsi, bukan berarti kita sudah mengimplementasikan paradigma fungsional. Seperti halnya fungsi-fungsi diatas, fungsi-fungsi tersebut belum memenuhi paradigma fungsional.

<p align="justify"> Seperti apakah fungsi dalam paradigma fungsional itu? Mari kita cek kembali materi topik 1 tentang definisi fungsi dalam paradigma fungsional:

 - Program dalam pemrograman fungsional dapat dianggap sebagai kumpulan **fungsi yang menerima input dan menghasilkan output** tanpa mempengaruhi keadaan (stateless) dan tidak memiliki efek samping apapun (pure function).

<p align="justify"> Kita bisa memperbaiki dan menyusun kode dengan pendekatan lebih fungsional untuk mencapai manfaat yang ditawarkan oleh paradigma fungsional. Bagaimana caranya? Pastikan fungsi yang kita bangun memenuhi standar berikut:

1. Input: tambahkan parameter sebagai input data-data yang dibutuhkan oleh 2. fungsi.
2. Output: tambahkan return value sebagai hasil keluaran dari fungsi.
3. Pure: tidak memiliki efek samping berarti fungsi tidak mengakses atau mengubah variabel global atau data-data lain di luar fungsi.

Dengan demikian, kita dapat menghasilkan program yang lebih elegan, mudah dipahami, dan mudah dikelola. Mari kita perbaiki dan susun ulang kode fungsi sebelumnya dengan pendekatan fungsional sebagai berikut: </p>

In [ ]:
# deklarasi fungsi menggunakan parameter (reusability)
def secondExample(name, hobbies):
    # Menambahkan return sebagai output
    return ("Hi, iam " + name + " and my hobby is " + hobbies)

# Assign function ke dalam variabel
callback = secondExample("Widodo", "Fishing")


print(callback)

In [ ]:
def secondExample(name, hobbies):
    return ("Hi, iam " + name + " and my hobby is " + hobbies)

callback = secondExample("Widodo", "Fishing")

del secondExample

print(callback)

Hi, iam Widodo and my hobby is Fishing

Kalian bisa melakukan hal yang sama untuk fungsi lainnya.

In [ ]:
# Deklarasi fungsi sebagai ekspresi
def multiply(a,b):
    return a * b

result = multiply(10,22)
print(result)

## 3.5 Indentasi

<p align="justify"> Indentasi dalam konteks pemrograman adalah pengaturan spasi di awal baris kode yang digunakan untuk menandai struktur dan hierarki blok kode (seperti awal dari sebuah paragraf). Dalam beberapa bahasa pemrograman, indentasi hanya digunakan untuk meningkatkan keterbacaan kode. Namun, dalam Python, indentasi memiliki peran yang sangat penting karena digunakan untuk mendefinisikan blok kode, seperti di dalam fungsi, loop, kondisi, dan lain-lain. Tidak seperti banyak bahasa pemrograman lainnya yang menggunakan tanda kurung kurawal {} untuk menandai blok kode, Python menggunakan indentasi untuk tujuan ini.

<p align="justify">
Intinya, di dalam python kita tidak bisa asal menggunakan ‘tab’ atau spasi untuk mengatur baris agar terlihat rapi justru dalam python indentasi atau spasi digunakan untuk menentukan scope dan jangkauan code. Jadi dalam python kitak tidak menggunakan kurung kurawal dalam membatasi scope. Lebih jauh akan dibahas di collab.

# Codelab!

### Codelab 1

pisahkan antara nilai int, float, dan string dengan ketentuan :

1. Data float disimpan dalam bentuk tuple

2. Data string disimpan ke dalam list

3. Data int disimpan dalam dictionary sebagai key

Kemudian tampilkan hasil nya seperti pada contoh.

In [11]:
# Lengkapilah potongan program di bawah ini

...
...

random_list = [900, 3.1, 3078, "Hello", 737, "Python", 2.7, 2002, 50,
               "Tech Winter", 7.566, 40, 1, "Is", 60.5, "Better", 1000.1,
               4, "world", 412, 5.5, "AI", 99.234, 12000]

dataDict = {}
dataList = []
dataTuple = ()

for data in random_list:
    if isinstance(data, float):
        dataTuple += (data,)
    elif isinstance(data, str):
        dataList.append(data)
    elif isinstance(data, int):
        if data < 10:
            dataDict[data] = 'satuan'
        elif data < 100:
            dataDict[data] = 'puluhan'
        elif data < 1000:
            dataDict[data] = 'ratusan'
        else:
            dataDict[data] = 'ribuan'

print("data Dict = ", dataDict)

for key, value in dataDict.items():
    print(f"\t{key} = {value}")

print("string data list = ", dataList)
print("data tuple = ", dataTuple)

data Dict =  {900: 'ratusan', 3078: 'ribuan', 737: 'ratusan', 2002: 'ribuan', 50: 'puluhan', 40: 'puluhan', 1: 'satuan', 4: 'satuan', 412: 'ratusan', 12000: 'ribuan'}
	900 = ratusan
	3078 = ribuan
	737 = ratusan
	2002 = ribuan
	50 = puluhan
	40 = puluhan
	1 = satuan
	4 = satuan
	412 = ratusan
	12000 = ribuan
string data list =  ['Hello', 'Python', 'Tech Winter', 'Is', 'Better', 'world', 'AI']
data tuple =  (3.1, 2.7, 7.566, 60.5, 1000.1, 5.5, 99.234)

### Codelab 2

1. Buatlah sebuah program untuk memisahkan data input user menjadi bilangan genap dan ganjil.
2. Data input dipisah dengan spasi, data genap akan dimasukkan ke dalam list dan data ganjil akan dimasukkan ke dalam tuple. (Gunakan casting untuk menyamakan tipe data)
3. Tampilkan hasil yang telah dibuat.

Lengkapi potongan code di bawah ini agar bisa memisahkan bilangan ganjil dan genap. Jangan lupa gunakan casting.

In [12]:

def pisahkan_genap_ganjil(input_bilangan):

    # Tulis kode dibawah
    list_genap = []
    tuple_ganjil = ()
    ...
    ...
    # Memisahkan bilangan dan mengelompokkan ke genap atau ganjil
    for x in input_bilangan.split():
        if int(x) % 2 == 0:
            list_genap.append(x)
        else:
            tuple_ganjil += (x,)

    return list_genap, tuple_ganjil

# Meminta pengguna memasukkan bilangan yang dipisahkan oleh spasi
input_bilangan = input("Masukkan beberapa bilangan yang dipisahkan oleh spasi: ")

# Memanggil fungsi untuk memisahkan bilangan genap dan ganjil
result_genap, result_ganjil = pisahkan_genap_ganjil(input_bilangan)

print("hasil genap : " + ", \n".join(result_genap))
print("hasil ganjil : " + ", ".join(result_ganjil))

Masukkan beberapa bilangan yang dipisahkan oleh spasi:  1 4 5

hasil genap : 4
hasil ganjil : 1, 5

### Codelab 3

1. Buatlah sebuah kamus (dictionary) yang menyimpan data nilai untuk 5 mahasiswa dengan 3 mata kuliah berbeda.
2. Buatlah fungsi untuk menghitung rata-rata nilai setiap mahasiswa.
3. Buatlah fungsi untuk menghitung rata-rata nilai seluruh mahasiswa.

In [13]:
# Data nilai mahasiswa dengan 3 mata kuliah
nilai_mahasiswa = {
    "Bayu": {"Matematika": 85, "Fisika": 78, "Kimia": 92},
    "Uyyab": {"Matematika": 70, "Fisika": 88, "Kimia": 75},
    "Ardi": {"Matematika": 95, "Fisika": 90, "Kimia": 85},
    "Ardiyansyah": {"Matematika": 80, "Fisika": 85, "Kimia": 78},
    "Ubay": {"Matematika": 88, "Fisika": 72, "Kimia": 91}
}

# TO_DO 2: Function untuk menghitung rata-rata nilai setiap mahasiswa
def each_average(nilai_mahasiswa):
    rata_rata_mahasiswa = {}

    for mahasiswa, nilai in nilai_mahasiswa.items():
        total_nilai = sum(nilai.values())  
        rata_rata = total_nilai / len(nilai)
        rata_rata_mahasiswa[mahasiswa] = rata_rata 

    return rata_rata_mahasiswa

# TO_DO 3: Function untuk menghitung rata-rata nilai seluruh mahasiswa
def all_average(nilai_mahasiswa):
    total_semua_nilai = 0
    total_semua_mata_kuliah = 0

    for nilai in nilai_mahasiswa.values():
        total_semua_nilai += sum(nilai.values()) 
        total_semua_mata_kuliah += len(nilai)

    rata_rata_seluruh_mahasiswa = total_semua_nilai / total_semua_mata_kuliah
    return rata_rata_seluruh_mahasiswa

# Memanggil fungsi dan menampilkan hasil

# Rata-rata nilai setiap mahasiswa
rata_rata_per_mahasiswa = each_average(nilai_mahasiswa)
print("Rata-rata nilai tiap mahasiswa:")
for mahasiswa, rata_rata in rata_rata_per_mahasiswa.items():
    print(f"{mahasiswa}: {rata_rata:.2f}")

# Rata-rata nilai seluruh mahasiswa
rata_rata_semua_mahasiswa = all_average(nilai_mahasiswa)
print(f"\nRata-rata nilai seluruh mahasiswa: {rata_rata_semua_mahasiswa:.2f}")

Rata-rata nilai tiap mahasiswa:
Bayu: 85.00
Uyyab: 77.67
Ardi: 90.00
Ardiyansyah: 81.00
Ubay: 83.67

Rata-rata nilai seluruh mahasiswa: 83.47

# Tugas

## SOAL A (INTERMEDIATE)

Buatlah sebuah CRUD sederhana dengan requirements berikut :
1. Register
  - User bisa register menggunakan NIM dan passwordnya
  - Ketika berhasil register maka data user yang baru sudah tersimpan (bisa login) beserta data profil
2. Login
  - User yang sudah register bisa melakukan login
3. User Menu
  - Hanya mampu melihat profilnya dan datanya sendiri
  - User bisa menambahkan data profil yang sebelumnya di skip atau list temannya
  - User bisa mengedit data profilnya sendiri atau list temannya
  - User bisa menghapus data profil atau list temannya
4. Menerapkan konsep dictionary dan list untuk menyimpan data.
  - Pastikan bahwa key dari setiap dictionary berkaitan sesuai dengan data dari akun masing2, misal : akun dengan nim 402 hanya bisa mengakses dictionary profile dan friendlist dari 402)
5. Contoh penyimpanan data :

In [ ]:
account = {'yourNIM':'yourPassword'}
profil = {'yourNIM':{'name':'ucup','role':'user','email':'example@mail.com'}}
friends = {'yourNIM':['teman1','teman2']}

disclaimer : di bawah ini hanya contoh saja, kamu bisa membuat yang lebih dari contoh di bawah, selama tidak kurang/downgrade dari contoh.

## SOAL B (ADVANCED)

**Requirements**

| NO  | Requirements | Description                                                                                                                                      |
|-----|--------------|--------------------------------------------------------------------------------------------------------------------------------------------------|
| 1.  | Main Duty    | - Kembangkanlah tugas soal A untuk membuat sebuah CRUD dengan tema bebas (usahakan untuk tidak duplikat agar memudahkan penilaian)                           |
| 2.  | Struktur Data       | - Menggunakan 3 tipe data yaitu tuple, list dan dictionary (wajib). Mekanisme dan bentuk struktur data dibebaskan. Setiap 3 jenis tipe data (list, tuple, dictionary) diwajibkan untuk bisa melakukan CRUD                                                                                                                        |
| 3. | Login| - Menggunakan fitur login dengan akun dan struktur data yang sama seperti soal A yaitu NIM dan Password dimana NIM ini akan dijadikan key untuk mengaitkan dengan struktur data yang lain (misal data peminjaman atau pembelian) |
| 4. | Keterkaitan key | - Semisal di dalam struktur data kalian terdapat akun dan reservasi maka di dalam data reservasi terdapat detail id/siapa yang memesan (akun mana yang memesan) |
| 5. | Validasi dan verifikasi | - Buat code kalian clean dan tidak mudah ter-executed ketika salah input atau error lainnya |
| 6. | Kreatif | - Kreatifitas dalam program maupun konsep merupakan keharusan sebagai ciri khas pribadi (agar program tidak identik). |

In [2]:
accounts = {}  # Key: NIM, Value: {"password": pass, "role": role}
personnel_data = []  # List of Dictionaries: {"nim": str, "name": str, "rank": str, "unit_id": int}
unit_data = []  #  {"unit_id": int, "unit_name": str}
mission_data = []  #  (mission_id, mission_name, location, [involved_personnel])

def register():
    nim = input("Enter your NIM: ")
    if nim in accounts:
        print("NIM already registered!")
        return
    password = input("Enter your password: ")
    role = input("Enter your role (admin/user): ")
    accounts[nim] = {"password": password, "role": role}
    print("Account successfully registered!")
    if role == "user":
        add_profile(nim)

def add_profile(nim):
    name = input("Enter your name: ")
    rank = input("Enter your rank: ")
    try:
        unit_id = int(input("Enter your Unit ID (0 if unknown): "))
    except ValueError:
        print("Invalid Unit ID. Profile not saved.")
        return
    if unit_id != 0 and not any(u["unit_id"] == unit_id for u in unit_data):
        print(f"Unit ID {unit_id} not found. Profile not saved.")
        return
        
    existing_profile = next((p for p in personnel_data if p["nim"] == nim), None)
    if existing_profile:
        print(f"Profile for NIM {nim} already exists.")
    else:
        personnel_data.append({"nim": nim, "name": name, "rank": rank, "unit_id": unit_id})
        print(f"Profile for NIM {nim} has been added.")

def login():
    nim = input("Enter your NIM: ")
    if nim not in accounts:
        print("NIM not found. Please register first.")
        return None
    password = input("Enter your password: ")
    if accounts[nim]["password"] == password:
        print(f"Welcome, {nim}!")
        return nim
    else:
        print("Incorrect password.")
        return None

def view_profile(nim):
    profile = next((p for p in personnel_data if p["nim"] == nim), None)
    if profile:
        unit = next((u for u in unit_data if u["unit_id"] == profile["unit_id"]), {"unit_name": "Unknown"})
        print(f"Name: {profile['name']}, Rank: {profile['rank']}, Unit: {unit['unit_name']}")
    else:
        print(f"No profile found for NIM {nim}. Please update your profile.")

def update_profile(nim):
    profile = next((p for p in personnel_data if p["nim"] == nim), None)
    if profile:
        print(f"Current Profile: Name={profile['name']}, Rank={profile['rank']}, Unit ID={profile['unit_id']}")
        profile['name'] = input(f"Enter new name (leave blank to keep {profile['name']}): ") or profile['name']
        profile['rank'] = input(f"Enter new rank (leave blank to keep {profile['rank']}): ") or profile['rank']
        try:
            new_unit_id = input(f"Enter new Unit ID (leave blank to keep {profile['unit_id']}): ")
            if new_unit_id:
                new_unit_id = int(new_unit_id)
                if new_unit_id != 0 and not any(u["unit_id"] == new_unit_id for u in unit_data):
                    print(f"Unit ID {new_unit_id} not found. Update cancelled.")
                else:
                    profile['unit_id'] = new_unit_id
        except ValueError:
            print("Invalid Unit ID. Update cancelled.")
        print("Profile updated successfully.")
    else:
        print(f"No profile found for NIM {nim}. Please add your profile first.")

def delete_profile(nim):
    global personnel_data
    personnel_data = [p for p in personnel_data if p["nim"] != nim]
    del accounts[nim]
    print(f"Profile and account for NIM {nim} deleted successfully.")

def add_personnel():
    nim = input("Enter NIM of the new personnel: ")
    if nim in accounts:
        print("NIM already exists in accounts.")
        return
    register() 

def add_unit():
    try:
        unit_id = int(input("Enter Unit ID: "))
        unit_name = input("Enter Unit Name: ")
        if any(u["unit_id"] == unit_id for u in unit_data):
            print(f"Unit ID {unit_id} already exists.")
        else:
            unit_data.append({"unit_id": unit_id, "unit_name": unit_name})
            print(f"Unit {unit_name} added successfully.")
    except ValueError:
        print("Invalid Unit ID. Operation cancelled.")

def add_mission():
    try:
        mission_id = int(input("Enter Mission ID: "))
        mission_name = input("Enter Mission Name: ")
        location = input("Enter Mission Location: ")
        involved_personnel = input("Enter involved personnel NIMs (comma-separated): ").split(',')
        mission_data.append((mission_id, mission_name, location, involved_personnel))
        print(f"Mission {mission_name} added successfully.")
    except ValueError:
        print("Invalid Mission ID. Operation cancelled.")

def delete_personnel():
    nim = input("Enter NIM of the personnel to delete: ")
    if nim in accounts:
        delete_profile(nim)
    else:
        print(f"No personnel found with NIM {nim}.")

def delete_unit():
    try:
        unit_id = int(input("Enter Unit ID to delete: "))
        global unit_data
        unit_data = [u for u in unit_data if u["unit_id"] != unit_id]
        print(f"Unit ID {unit_id} deleted successfully.")
    except ValueError:
        print("Invalid Unit ID. Operation cancelled.")

def delete_mission():
    try:
        mission_id = int(input("Enter Mission ID to delete: "))
        global mission_data
        mission_data = [m for m in mission_data if m[0] != mission_id]
        print(f"Mission ID {mission_id} deleted successfully.")
    except ValueError:
        print("Invalid Mission ID. Operation cancelled.")

def view_all_personnel():
    print("All Personnel:")
    for personnel in personnel_data:
        print(personnel)

def view_all_units():
    print("All Units:")
    for unit in unit_data:
        print(unit)

def view_all_missions():
    print("All Missions:")
    for mission in mission_data:
        print(mission)

def admin_menu():
    while True:
        print("\nAdmin Menu:")
        print("1. Add Personnel")
        print("2. Add Unit")
        print("3. Add Mission")
        print("4. Delete Personnel")
        print("5. Delete Unit")
        print("6. Delete Mission")
        print("7. View All Personnel")
        print("8. View All Units")
        print("9. View All Missions")
        print("0. Logout")
        choice = input("Choose an option: ")
        if choice == "1":
            add_personnel()
        elif choice == "2":
            add_unit()
        elif choice == "3":
            add_mission()
        elif choice == "4":
            delete_personnel()
        elif choice == "5":
            delete_unit()
        elif choice == "6":
            delete_mission()
        elif choice == "7":
            view_all_personnel()
        elif choice == "8":
            view_all_units()
        elif choice == "9":
            view_all_missions()
        elif choice == "0":
            break
        else:
            print("Invalid choice.")

def user_menu(nim):
    while True:
        print("\nUser Menu:")
        print("1. View Profile")
        print("2. Update Profile")
        print("3. Delete Profile")
        print("0. Logout")
        choice = input("Choose an option: ")
        if choice == "1":
            view_profile(nim)
        elif choice == "2":
            update_profile(nim)
        elif choice == "3":
            confirm = input("Are you sure you want to delete your profile? (yes/no): ")
            if confirm.lower() == 'yes':
                delete_profile(nim)
                break
        elif choice == "0":
            break
        else:
            print("Invalid choice.")

def main():
    while True:
        print("\nMain Menu:")
        print("1. Register")
        print("2. Login")
        print("0. Exit")
        choice = input("Choose an option: ")
        if choice == "1":
            register()
        elif choice == "2":
            nim = login()
            if nim:
                if accounts[nim]["role"] == "admin":
                    admin_menu()
                else:
                    user_menu(nim)
        elif choice == "0":
            break
        else:
            print("Invalid choice.")

main()

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  1
Enter your NIM:  222
Enter your password:  222
Enter your role (admin/user):  admin

Account successfully registered!

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  2
Enter your NIM:  222
Enter your password:  222

Welcome, 222!

Admin Menu:
1. Add Personnel
2. Add Unit
3. Add Mission
4. Delete Personnel
5. Delete Unit
6. Delete Mission
7. View All Personnel
8. View All Units
9. View All Missions
0. Logout

Choose an option:  2
Enter Unit ID:  1
Enter Unit Name:  aa

Unit aa added successfully.

Admin Menu:
1. Add Personnel
2. Add Unit
3. Add Mission
4. Delete Personnel
5. Delete Unit
6. Delete Mission
7. View All Personnel
8. View All Units
9. View All Missions
0. Logout

Choose an option:  0

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  2
Enter your NIM:  1

NIM not found. Please register first.

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  1
Enter your NIM:  111
Enter your password:  111
Enter your role (admin/user):  user

Account successfully registered!

Enter your name:  ads
Enter your rank:  ccc
Enter your Unit ID (0 if unknown):  1

Profile for NIM 111 has been added.

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  2
Enter your NIM:  111
Enter your password:  111

Welcome, 111!

User Menu:
1. View Profile
2. Update Profile
3. Delete Profile
0. Logout

Choose an option:  1

Name: ads, Rank: ccc, Unit: aa

User Menu:
1. View Profile
2. Update Profile
3. Delete Profile
0. Logout

Choose an option:  2

Current Profile: Name=ads, Rank=ccc, Unit ID=1

Enter new name (leave blank to keep ads):  p
Enter new rank (leave blank to keep ccc):  s
Enter new Unit ID (leave blank to keep 1):  1

Profile updated successfully.

User Menu:
1. View Profile
2. Update Profile
3. Delete Profile
0. Logout

Choose an option:  1

Name: p, Rank: s, Unit: aa

User Menu:
1. View Profile
2. Update Profile
3. Delete Profile
0. Logout

Choose an option:  3
Are you sure you want to delete your profile? (yes/no):  yes

Profile and account for NIM 111 deleted successfully.

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  2
Enter your NIM:  111

NIM not found. Please register first.

Main Menu:
1. Register
2. Login
0. Exit

Choose an option:  0

# Rubrik Penilaian


| Codelab |  |  
|---------|---------|
| Codelab 1  | 5  |
| Codelab 2  | 5  |
| Codelab 3 | 5  |
| Total  | 15  |

| Tugas A (Intermediate) |  |  
|---------|---------|
| Pemahaman | 50 |
| Code/Kelengkapan Fitur  | 15  |
| Total  | 65  |

| Tugas B (Advanced) |  |  
|---------|---------|
| Pemahaman | 60 |
| Code/Kelengkapan Fitur  | 25  |
| Total  | 85  |

\*)Note: Program Identik berarti program sama persis dengan praktikan lain sehingga yang dinilai hanya pemahaman terhadap materi (code tidak mendapat bobot nilai sama sekali).

\**)Poin diatas merupakan poin maksimal yang bisa diperoleh. Asisten bisa memberikan nilai dibawah itu jika dirasa praktikan tidak maksimal saat demo (kurangnya pemahaman tentang apa yang di demokan).

> Detail lengkap penilaian silahkan mengacu pada dokumen modul (pdf)